body
{
	background-color: #7fbee3;
}
img
{
	height: 500px;
	width:900px;
	float:right;
}
h1
{
	text-align: center;
	color: green;
	background-color: red;
}
#Text
{
	color: red;
	font-size: 1.5em;
}
.app{
	color: orange;
	font-size: 1.25em;
	font-weight: bold;
}